* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
}

/* Inicio de Header */

.header {
    height: 80vh;
    background-image: url(../SITIO/assets/images/PORTADA1.jpg);
    background-repeat: no-repeat;
    background-color: black;

}

.titulo {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 4.5rem;
}


.navbar__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 3.4rem;
    margin-top: 70px;
    text-decoration-color: white;
}



.slogan {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.slogan__viaje {

    margin-top: 140px;
    font-size: 2.1rem;
    color: white;
    font-weight: bold;
}

.slogan__realidad {
    margin-top: 50px;
    color: white;
    font-size: 1.4;
    font-weight: 420;
}

/* Fin de Header */

/* Inicio del main  */

hr {
    height: 2px;
    border-color: red;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.presentacion__titulo {
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    padding-left: 50vh;
    padding-right: 50vh;
}

.presentacion__parrafo {
    color: white;
    display: flex;
    justify-content: center;
    text-align: left;
    margin: auto;
    padding-left: 50vh;
    padding-right: 50vh;
}

.experiencias__titulo {
    color: white;
    font-size: 3rem;
    margin: 8px 15%;
    display: flex;
    justify-content: center;

}

.experiencias__contenedor {
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 14%;
    margin-left: 19%;
    gap: 80px;
}

.experiencias__tour__titulo {
    font-size: 1.5rem;
}

.experiencias__paseo__titulo {
    font-size: 1.5rem;
}

.experiencias__tour {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;

}

.experiencias__paseo {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
}


.foto__tour {
    height: 30vh;
    width: 30vw;
}

.foto__paseo {
    height: 50vh;
    width: 59vh;
}


/* Fin del main  */

/* Inicio del Footer */

footer {
    margin-top: 15%;
    height: 90vh;
    width: 100vw;
    background-image: url(../SITIO/assets/images/IMAGENfooter2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.navbarfooter {
    margin-left: 55vw;
    width: 40vw;
}

.titulo__footer {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    padding: 30px;
    font-size: 4.5rem;
}

.navbarfooter__list {
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2.4rem;
    margin-top: 55vh;
    text-decoration-color: white;
}

/* Fin del Footer */


/* ----------------Pagina Nosotros -----------------*/

/* Inicio del Main */

.nosotros__titulo {
    color: white;
    font-size: 3rem;
    margin: 8px 15%;
    display: flex;
    justify-content: center;

}

.nosotros__contenedor {
    display: inline-flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 14%;
    margin-left: 19%;
    gap: 80px;
}

.nosotros__saludo__titulo {
    font-size: 1.5rem;
}



.nosotros__saludo {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;

}



.nosotros__pasos {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
}


.foto__nosotros1 {
    margin-top: 30px;
    height: 30vh;
    width: 30vw;
}

.foto__nosotros2 {
    margin-top: 50px;
    height: 30vh;
    width: 59vh;
}

/* Fin del Main */

/* Inicio del Footer */

.nosotros__footer {
    margin-top: 28%;
    height: 90vh;
    width: 100vw;
    background-image: url(../SITIO/assets/images/IMAGENfooter2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.navbarfooter {
    margin-left: 55vw;
    width: 40vw;
}

.titulo__footer {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    padding: 30px;
    font-size: 4.5rem;
}

.navbarfooter__list {
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2.4rem;
    margin-top: 55vh;
    text-decoration-color: white;
}

/* Fin del Footer */


/* ----------------Pagina Galeria -----------------*/

/* Inicio del Main */


.galeria__titulo {
    color: white;
    font-size: 3rem;
    margin: 8px 15%;
    display: flex;
    justify-content: center;
}

.galeria__contenedor1 {
    color: white;
    display: inline-flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 14%;
    margin-left: 19%;
    gap: 80px;
}


.galeria__yamahatracer900 {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;

}

.yamahatracer900 {
    margin-top: 30px;
    height: 40vh;
    width: 30vw;
    margin-bottom: 3px;
}

.galeria__hondanc750x {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
}

.hondanc750x {
    margin-top: 30px;
    height: 40vh;
    width: 60vh;
}


.galeria__contenedor2 {
    color: white;
    display: inline-flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 14%;
    margin-left: 19%;
    gap: 80px;
}

.galeria__husqvarna701 {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;

}

.husqvarna701 {
    margin-top: 30px;
    height: 40vh;
    width: 30vw;
    margin-bottom: 3px;
}

.galeria__ninja300 {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
}

.ninja300 {
    margin-top: 30px;
    height: 40vh;
    width: 60vh;
}

.galeria__contenedor3 {
    color: white;
    display: inline-flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 14%;
    margin-left: 19%;
    gap: 80px;
}

.galeria__ktm690 {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;

}

.ktm690 {
    margin-top: 30px;
    height: 40vh;
    width: 30vw;
    margin-bottom: 3px;
}

/* este */
.galeria__contenedor3 {
    color: white;
    display: inline-flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 14%;
    margin-left: 19%;
    gap: 80px;
}

.galeria__bmw1000r {
    color: white;
    height: auto;
    width: 25vw;
    display: flex;
    flex-direction: column;

}

.bmw1000r {
    margin-top: 30px;
    height: 40vh;
    width: 35vw;
    margin-bottom: 3px;
    padding-right: 20%;
}



.galeria__contenedor4 {
    color: white;
    display: inline-flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 14%;
    margin-left: 19%;
    gap: 80px;
}

.galeria__cbr1000 {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;

}

.cbr1000 {
    margin-top: 30px;
    height: 40vh;
    width: 30vw;
    margin-bottom: 3px;
}

.galeria__mecanico {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
}

.mecanico {
    margin-top: 30px;
    height: 40vh;
    width: 60vh;
}

.galeria__contenedor5 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-right: 25vw;
    margin-left: auto;
}

.galeria__cbrmarc {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
}

.cbrmarc {
    margin-top: 30px;
    height: 110vh;
    width: 110vh;
}




.galeria__contenedor6 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    margin-right: 25vw;
    margin-left: auto;
    margin-bottom: 10vh;
}

.galeria__obiwan {
    color: white;
    height: 28vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
}

.obiwan {
    margin-top: 35vh;
    height: 110vh;
    width: 110vh;
}

/* Fin del Main */

/* Inicio del Footer */

.galeria__footer {
    margin-top: 43%;
    height: 90vh;
    width: 100vw;
    background-image: url(../SITIO/assets/images/IMAGENfooter2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.navbarfooter {
    margin-left: 55vw;
    width: 40vw;
}

.titulo__footer {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    padding: 30px;
    font-size: 4.5rem;
}

.navbarfooter__list {
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2.4rem;
    margin-top: 55vh;
    text-decoration-color: white;
}

/* Fin del Footer */

/* ----------------Pagina Unidades -----------------*/

/* Inicio del Main */

.unidades__titulo {
    color: white;
    font-size: 3rem;
    margin: 8px 15%;
    display: flex;
    justify-content: center;
}


.unidades__primera {
    color: white;
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 5%;
    margin-left: 20vw;
    position: relative
}

.unidades__primera:hover .husky701__parrafo {
    display: block;
}

.husky701__parrafo {
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    text-align: justify;
    padding: 75px;
    margin: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7)
}

.husky701 {
    width: 100%;
}


.unidades__segunda {
    color: white;
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 5%;
    margin-left: 20vw;
    position: relative
}

.unidades__segunda:hover .cbr1000r__parrafo {
    display: block;
}

.cbr1000r__parrafo {
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    text-align: justify;
    padding: 75px;
    margin: 50px;
    font-size: 2.3rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7)
}

.cbr1000r {
    height: 800px;
    width: 100%;
}


.unidades__tercera {
    color: white;
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 5%;
    margin-left: 20vw;
    position: relative
}

.unidades__tercera:hover .nc750x__parrafo {
    display: block;
}

.nc750x__parrafo {
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    text-align: justify;
    padding: 75px;
    margin: 50px;
    font-size: 2rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7)
}

.nc750x {
    width: 100%;
}


.unidades__cuarta {
    color: white;
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 5%;
    margin-left: 20vw;
    position: relative
}

.unidades__cuarta:hover .bmw1000__parrafo {
    display: block;
}

.bmw1000__parrafo {
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    text-align: justify;
    padding: 75px;
    margin: 50px;
    font-size: 1.92rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7)
}

.bmw1000 {
    height: auto;
    width: 100%;
}


.modelos {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: 22%;
    margin-right: 20%;
}

.modelos__parrafo {
    font-size: 2rem;
}

/* Fin del Main */


/* Inicio del Footer */

.unidades__footer {
    margin-top: 5%;
    height: 90vh;
    width: 100vw;
    background-image: url(../SITIO/assets/images/IMAGENfooter2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.navbarfooter {
    margin-left: 55vw;
    width: 40vw;
}

.titulo__footer {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    padding: 30px;
    font-size: 4.5rem;
}

.navbarfooter__list {
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2.4rem;
    margin-top: 55vh;
    text-decoration-color: white;
}

/* Fin del Footer */


/* ----------------Pagina Contacto -----------------*/

/* Inicio del Main */

.contacto__titulo {
    color: white;
    font-size: 3rem;
    margin: 8px 15%;
    display: flex;
    justify-content: center;
}


.newsletter {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: auto;

    
}

.formulario {
    padding-top: 5vh;
    margin: auto;
    padding-right: 50%;
    width: 300px;
    text-align: center;
}

input,
textarea {
    border: 0;
    outline: none;    
}

.campo {
    border: solid 1px red;
    padding: 15px;
    width: 50vw;
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 90px;
}

.botonenviar {
    border-radius: 3px;
    display: inline-block;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 280px;
    font-size: 2rem;
    font-weight: bold;
    
}

.checkbox {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.ubicacion{
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Fin del Main */


/* Inicio del Footer */

.contacto__footer {
    margin-top: 5%;
    height: 90vh;
    width: 100vw;
    background-image: url(../SITIO/assets/images/IMAGENfooter2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.navbarfooter {
    margin-left: 55vw;
    width: 40vw;
}

.titulo__footer {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    padding: 30px;
    font-size: 4.5rem;
}

.navbarfooter__list {
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2.4rem;
    margin-top: 55vh;
    text-decoration-color: white;
}

/* Fin del Footer */