* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
    background-color: black;

}

nav .navbar-nav .nav-link {
    color: #ffffff;   
}

nav .navbar-nav .nav-link:hover{
    color: red;
}

.btn-rojo {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: red 1px solid;
}

.btn-rojo:hover {
    background-color: rgba(255, 255, 255, 0);
    border: red 2px solid;
    color: red;
}

a{
    color: white;
}

a:hover{
    color: red;
}

.button {
    border-radius: 4px;
    background-color: #ec0000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    width: 200px;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }